applet,
article,
aside,
audio,
body,
canvas,
caption,
dd,
details,
div,
dl,
dt,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
iframe,
input,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
ruby,
section,
select,
span,
summary,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
ul,
video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:after,
*:before {
  box-sizing: inherit; }

*::selection {
  color: #fff;
  background-color: #444; }

#container {
  width: 100%;
  max-width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-left: auto;
  margin-right: auto; }

section {
  border-top: 1px solid #8c8b8b;
  padding-top: 1.5rem; }

section:first-of-type {
  border-top: 0px; }

footer {
  border-top: 1px solid #8c8b8b;
  padding-top: 0.5rem; }

h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dd,
blockquote,
p, figure,
pre, table, fieldset, hr,
section, article,
button, input,
.button,
.button-primary,
textarea,
select {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-margin-end: 0;
  -webkit-margin-start: 0;
  margin-bottom: 1.5rem; }

@media (min-width: 46rem) {
  #container {
    width: 80%;
    max-width: 48rem;
    padding: 1rem; } }
@media (min-width: 62rem) {
  #container {
    width: 75%;
    max-width: 68rem; } }
html {
  font-size: 16px; }

body {
  font-weight: 400;
  font-family: "Lato", Arial, Helvetica Neue, Helvetica, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.01rem;
  color: #444;
  overflow-y: scroll; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  display: block;
  font-weight: 600;
  font-family: "Libre Baskerville", Georgia, Cambria, "Times New Roman", Times, serif;
  line-height: 1.25; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 75rem; }

a,
a:link {
  color: #666; }

a:visited {
  color: #888; }

a:hover {
  text-decoration: underline; }

hr {
  border-top: 1px solid #8c8b8b; }

ol,
ul {
  padding-left: 1.5rem; }

code {
  background-color: #f1f1f1;
  border-radius: 2px;
  padding: .125em .25em .125em .25rem; }

.row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row.reverse {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse; }

.col.reverse {
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse; }

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  margin-bottom: 0.5rem;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }

.start {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start; }

.center {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center; }

.end {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end; }

.around {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.between {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between; }

@media (min-width: 34rem) {
  .col {
    flex: 1; }

  .col-1 {
    -ms-flex-preferred-size: calc((100%/12) - 0.5em);
    flex-basis: calc((100%/12) - 0.5em);
    max-width: calc((100%/12) - 0.5em); }

  .col-2 {
    -ms-flex-preferred-size: calc((100%/12 * 2) - 0.5em);
    flex-basis: calc((100%/12 * 2) - 0.5em);
    max-width: calc((100%/12 * 2) - 0.5em); }

  .col-3 {
    -ms-flex-preferred-size: calc((100%/12 * 3) - 0.5em);
    flex-basis: calc((100%/12 * 3) - 0.5em);
    max-width: calc((100%/12 * 3) - 0.5em); }

  .col-4 {
    -ms-flex-preferred-size: calc((100%/12 * 4) - 0.5em);
    flex-basis: calc((100%/12 * 4) - 0.5em);
    max-width: calc((100%/12 * 4) - 0.5em); }

  .col-5 {
    -ms-flex-preferred-size: calc((100%/12 * 5) - 0.5em);
    flex-basis: calc((100%/12 * 5) - 0.5em);
    max-width: calc((100%/12 * 5) - 0.5em); }

  .col-6 {
    -ms-flex-preferred-size: calc((100%/12 * 6) - 0.5em);
    flex-basis: calc((100%/12 * 6) - 0.5em);
    max-width: calc((100%/12 * 6) - 0.5em); }

  .col-7 {
    -ms-flex-preferred-size: calc((100%/12 * 7) - 0.5em);
    flex-basis: calc((100%/12 * 7) - 0.5em);
    max-width: calc((100%/12 * 7) - 0.5em); }

  .col-8 {
    -ms-flex-preferred-size: calc((100%/12 * 8) - 0.5em);
    flex-basis: calc((100%/12 * 8) - 0.5em);
    max-width: calc((100%/12 * 8) - 0.5em); }

  .col-9 {
    -ms-flex-preferred-size: calc((100%/12 * 9) - 0.5em);
    flex-basis: calc((100%/12 * 9) - 0.5em);
    max-width: calc((100%/12 * 9) - 0.5em); }

  .col-10 {
    -ms-flex-preferred-size: calc((100%/12 * 10) - 0.5em);
    flex-basis: calc((100%/12 * 10) - 0.5em);
    max-width: calc((100%/12 * 10) - 0.5em); }

  .col-11 {
    -ms-flex-preferred-size: calc((100%/12 * 11) - 0.5em);
    flex-basis: calc((100%/12 * 11) - 0.5em);
    max-width: calc((100%/12 * 11) - 0.5em); }

  .col-12 {
    -ms-flex-preferred-size: calc(100% - 0.5em);
    flex-basis: calc(100% - 0.5em);
    max-width: calc(100% - 0.5em); } }
/* Navbar */
nav .navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  position: relative;
  left: 0;
  top: 100%;
  width: 100%; }

nav .navbar .navbar-item {
  border-top: 1px solid #8c8b8b;
  flex: 1 0 auto;
  position: relative;
  text-align: center; }

nav a,
nav a:link,
nav a:active,
nav a:hover,
nav a:visited {
  color: #444; }

nav > .navbar > .navbar-item:last-of-type {
  border-bottom: 1px solid #8c8b8b; }

nav .navbar .navbar-item a {
  color: #444;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5em 0;
  width: 100%; }

nav .navbar .navbar-item a:hover {
  text-decoration: under-line; }

nav .navbar-item .navbar {
  background-color: #f1f1f1;
  top: 100%;
  position: absolute; }

nav .navbar-item .navbar .navbar-item .navbar {
  background-color: #e1e1e1; }

nav .navbar-item .navbar-item:last-child a {
  border-bottom: 0; }

.submenu > .navbar {
  display: none; }

@media (min-width: 46rem) {
  nav .navbar {
    flex-direction: row;
    justify-content: space-around; }

  nav .navbar .navbar-item {
    border-bottom: 1px solid #8c8b8b; } }
/* Forms */
input[type="color"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input[type="color"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus {
  outline: 0;
  border-color: #222; }

input[type="color"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  border: 1px solid #8c8b8b;
  border-radius: 2px;
  font-family: "Lato", Arial, Helvetica Neue, Helvetica, sans-serif;
  width: 100%;
  padding: 0.5em; }

label {
  display: block; }

textarea,
select {
  box-sizing: border-box;
  font-family: "Lato", Arial, Helvetica Neue, Helvetica, sans-serif;
  border: 1px solid #8c8b8b;
  border-radius: 2px;
  padding: 0.5em;
  width: 100%; }

textarea:focus,
select:focus {
  outline: 0;
  border-color: #222; }

/* Buttons */
button,
.button,
.button:link,
.button:visited,
input[type="submit"],
input[type="button"] {
  background-color: #fff;
  border: 1px solid #8c8b8b;
  border-radius: 2px;
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-family: "Lato", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin-right: 0.25em;
  padding: 0.5em 2em 0.5em 2em;
  text-align: center;
  text-decoration: none; }

button:hover,
.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  border-color: #222;
  color: #222;
  text-decoration: none; }

button:focus,
.button:focus,
input[type="submit"]:focus,
input[type="button"]:focus {
  outline: 0; }

.button-primary,
.button-primary:link,
.button-primary:visited,
input[type="submit"].button-primary,
input[type="button"].button-primary {
  background-color: #444;
  border: 1px solid #8c8b8b;
  cursor: pointer;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: "Lato", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin-right: 0.25em;
  padding: 0.5em 2em 0.5em 2em;
  text-align: center;
  text-decoration: none; }

.button-primary:hover,
input[type="button"].button-primary:hover,
input[type="submit"].button-primary:hover {
  background-color: #222;
  border-color: #1f1f1f;
  color: #fff;
  text-decoration: none; }

table {
  border-collapse: collapse;
  width: 100%; }

thead {
  background-color: #d1d1d1; }

table,
th,
td {
  border: 1px solid #8c8b8b; }

th,
td {
  padding: 0.5em; }

td {
  border-bottom: transparent;
  border-top: transparent; }

.img-responsive {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto; }

.left {
  float: left; }

.right {
  float: right; }

blockquote {
  border-left: 0.25rem solid #444;
  font-style: italic;
  padding-left: .5rem; }

.card {
  background-color: #fff;
  border: 1px solid #8c8b8b;
  box-shadow: 0 2px 0.1rem rgba(0, 0, 0, 0.05);
  padding: 2rem; }

/*# sourceMappingURL=type.css.map */
