/* Buttons */
button,
.button,
.button:link,
.button:visited,
input[type="submit"],
input[type="button"] {
	background-color: #fff;
	border: $border-thin;
	border-radius: 2px;
	color: $font-color-body;
	cursor: pointer;
	display: inline-block;
	font-family: $font-stack-body;
	line-height: 1.45;
	margin-right: 0.25em;
	padding: 0.5em 2em 0.5em 2em;
	text-align: center;
	text-decoration: none;
}
button:hover,
.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover  {
	border-color: $font-color-header;
	color: $font-color-header;
	text-decoration: none;
}
button:focus,
.button:focus,
input[type="submit"]:focus,
input[type="button"]:focus {
	outline: 0;
}

.button-primary,
.button-primary:link,
.button-primary:visited,
input[type="submit"].button-primary,
input[type="button"].button-primary {
	background-color: $font-color-body;
	border: $border-thin;
	cursor: pointer;
	color: #fff;
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	font-family: $font-stack-body;
	line-height: 1.45;
	margin-right: 0.25em;
	padding: 0.5em 2em 0.5em 2em;
	text-align: center;
	text-decoration: none;
}

.button-primary:hover,
input[type="button"].button-primary:hover,
input[type="submit"].button-primary:hover {
	background-color: $font-color-header;
	border-color: #1f1f1f;
	color: #fff;
	text-decoration: none;
}