.row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.reverse {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    margin-top: #{$grid-gutter};
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100;
}

.start {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

.end {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top {
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.middle {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.bottom {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}

.around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.first {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.last {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

@media (#{$bp-larger-than-phablet}) {
.col {
    flex: 1;
}

.col-1 {
  -ms-flex-preferred-size: calc((100%/12) - #{$grid-gutter});
  flex-basis: calc((100%/12) - #{$grid-gutter});
  max-width: calc((100%/12) - #{$grid-gutter});
}

.col-2 {
  -ms-flex-preferred-size: calc((100%/12 * 2) - #{$grid-gutter});
  flex-basis: calc((100%/12 * 2) - #{$grid-gutter});
  max-width: calc((100%/12 * 2) - #{$grid-gutter});
}

.col-3 {
  -ms-flex-preferred-size: calc((100%/12 * 3) - #{$grid-gutter});
  flex-basis: calc((100%/12 * 3) - #{$grid-gutter});
  max-width: calc((100%/12 * 3) - #{$grid-gutter});
}

.col-4 {
  -ms-flex-preferred-size: calc((100%/12 * 4) - #{$grid-gutter});
  flex-basis: calc((100%/12 * 4) - #{$grid-gutter});
  max-width: calc((100%/12 * 4) - #{$grid-gutter});
}

.col-5 {
  -ms-flex-preferred-size: calc((100%/12 * 5) - #{$grid-gutter});
  flex-basis: calc((100%/12 * 5) - #{$grid-gutter});
  max-width: calc((100%/12 * 5) - #{$grid-gutter});
}

.col-6 {
  -ms-flex-preferred-size: calc((100%/12 * 6) - #{$grid-gutter});
  flex-basis: calc((100%/12 * 6) - #{$grid-gutter});
  max-width: calc((100%/12 * 6) - #{$grid-gutter});
}

.col-7 {
  -ms-flex-preferred-size: calc((100%/12 * 7) - #{$grid-gutter});
  flex-basis: calc((100%/12 * 7) - #{$grid-gutter});
  max-width: calc((100%/12 * 7) - #{$grid-gutter});
}

.col-8 {
  -ms-flex-preferred-size: calc((100%/12 * 8) - #{$grid-gutter});
  flex-basis: calc((100%/12 * 8) - #{$grid-gutter});
  max-width: calc((100%/12 * 8) - #{$grid-gutter});
}

.col-9 {
  -ms-flex-preferred-size: calc((100%/12 * 9) - #{$grid-gutter});
  flex-basis: calc((100%/12 * 9) - #{$grid-gutter});
  max-width: calc((100%/12 * 9) - #{$grid-gutter});
}

.col-10 {
  -ms-flex-preferred-size: calc((100%/12 * 10) - #{$grid-gutter});
  flex-basis: calc((100%/12 * 10) - #{$grid-gutter});
  max-width: calc((100%/12 * 10) - #{$grid-gutter});
}

.col-11 {
  -ms-flex-preferred-size: calc((100%/12 * 11) - #{$grid-gutter});
  flex-basis: calc((100%/12 * 11) - #{$grid-gutter});
  max-width: calc((100%/12 * 11) - #{$grid-gutter});
}

.col-12 {
  -ms-flex-preferred-size: calc(100% - #{$grid-gutter});
  flex-basis: calc(100% - #{$grid-gutter});
  max-width: calc(100% - #{$grid-gutter});
}

}