#container {
    width: 100%;
    max-width: 100%;
    padding-right: 2em;
    padding-left: 2em;
    margin-left: auto;
    margin-right: auto;
}
section {
    border-top: $border-thin;
	margin-top: 1em;
}
section:first-of-type {
    border-top: 0px;
}
footer {
    border-top: $border-thin;
    margin-top: 2.5em;
    padding-top: 0.5em;
}

// Larger than tablet
@media (#{$bp-larger-than-tablet}) {
    #container {
        width: 80%;
        max-width: 768px;
        padding: 1em;
    }
}

// Larger than desktop
@media (#{$bp-larger-than-desktop}) {
    #container {
        width: 75%;
        max-width: 1100px;
    }
}