#container {
    width: 100%;
    max-width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-left: auto;
    margin-right: auto;
}
section {
    border-top: $border-thin;
	padding-top: 1.5rem;
}
section:first-of-type {
    border-top: 0px;
}
footer {
    border-top: $border-thin;
    padding-top: 0.5rem;
}

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
blockquote,
p,figure,
pre,table,fieldset,hr,
section, article,
button, input,
.button,
.button-primary,
textarea,
select {
	@include webkit-margin-remove;
	margin-bottom: 1.5rem;
}

// Larger than tablet
@media (#{$bp-larger-than-tablet}) {
    #container {
        width: 80%;
        max-width: 48rem;
        padding: 1rem;
    }
}

// Larger than desktop
@media (#{$bp-larger-than-desktop}) {
    #container {
        width: 75%;
        max-width: 68rem;
    }
}
