/* Type CSS Begin */
/* Resets *********/

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
*::selection {
    color: #fff;
    background-color: $font-color-body;
}