$bp-larger-than-mobile    : "min-width: 25rem" !default;
$bp-larger-than-phablet   : "min-width: 34rem" !default;
$bp-larger-than-tablet    : "min-width: 46rem" !default;
$bp-larger-than-desktop   : "min-width: 62rem" !default;
$bp-larger-than-desktophd : "min-width: 75rem" !default;

$font-color-header: #222;
$font-color-body: #444;
$font-stack-header: 'Playfair Display', Georgia, Cambria, "Times New Roman", Times, serif !default;
$font-stack-body: 'Droid Sans', Arial, Helvetica Neue, Helvetica, sans-serif !default;

$border-thin: 1px solid #8c8b8b;
$border-radius-default: 2px;

$grid-gutter: 0.5em;
